<html>

<p>Thank you for being engaged, we’re sorry you are having trouble logging in. </p>
<p>You can reset your password by visiting…
  <a href="{{base_url}}/auth/reset-password?token={{token}}">here</a>
</p>
<p>If you continue to have trouble, please don’t hesitate to contact us at admin@mainstreamcoalition.org. or call (913) 649-3326.</p>

</html>